body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #2B2B2B;
}

*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header
{
    width: 100%;
    height: 120px;
    display: block;
    background-color: #2B2B2B;
}

.inner_header
{
    width: 100%;
    height: 100%;
    display: block;
}

.logo_box
{
    height: 100%;
    width: 30%;
    display: table;
    float: left;
    background-color: #575757;
}

.logo_box h1
{
    color: white;
    font-weight: 600;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 75px;
    font-size: 32px;
}

.navigation
{
    float: right;
    height: 100%;
}

.navigation a
{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 10px;   
    color: white;  
    transition-duration: 0.25s; 
}

.navigation a:first-child:hover
{
    color: #AD0045;
}

.navigation a:last-child
{
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation a li #contact_button
{
    background-color: #AD0045;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.navigation a li
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.hero
{
    width: 100%;
    height: 535.5px;
    display: table;
    padding-bottom: 50px;
}

.hero_left
{
    width: 50%;
    height: 100%;
    display: table-cell;
    float: left;
}

.hero_right
{
    width: 50%;
    height: 100%;
    display: table-cell;
    float: right;
    color: white;
    font-weight: 500;
    font-size: 50px;
    line-height: 166%;
    vertical-align: middle;
    padding-top: 50px;
    overflow: hidden;
}

#red_text
{
    color:#AD0045;
}

#hero_text_red
{
    color:#AD0045;
}

#hero_description
{
    font-weight: 400;
    font-size: 25px;
    line-height: 41.5px;
    position: relative;
    transform: translateX(100%);
    transition: 0.65s ease-in;
}


#subtitle
{
    font-weight: 600;
    font-size: 33px;
}

#description
{
    font-weight: 400;
    font-size: 25px;
}

.skills
{
    background-color: #575757;
    width: 100%;
    height: 950px;
    display: block;
    color: white;
}

#title_top
{
    padding-top: 50px;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}

#title_bottom
{
    font-weight: 700;
    text-align: center;
    font-size: 50px;
}

hr
{
    height: 2px;
    border: none;
    color: white;
    background-color: white;
    margin: auto;
    margin-top: 8px;
}

.number_boxes
{
    height: fit-content;
    width: 100%;
    display: table;
    margin: auto;
}

.number_boxes a
{
    height: 100%;
    display: table-cell;
    width: 33%;
    padding-left: 85px;
}

.number_boxes a li
{
    vertical-align: middle;
    height: 100%;
    margin-top: 75px;
    transition-duration: 0.25s;
}

.number_boxes a li:hover
{
    scale: 110%;
}

.spacer
{
    height: 150px;
    width: 100%;
}

.carousel
{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.carousel:before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 2;
    background: linear-gradient(to left, RGBa(255, 255, 255, 0), #575757);
}

.carousel:after
{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 2;
    background: linear-gradient(to right, RGBa(255, 255, 255, 0), #575757);
}

.carousel_slide
{
    animation: 25s slide infinite linear;
    display: inline-block;
}

.carousel_slide img
{
    height: 115px;
    width: 115px;
    margin-left: 100px;
    margin-right: 100px;
}

@keyframes slide
{
        from
        {
            transform: translateX(0);
        }
        to
        {
            transform: translateX(-100%);
        }
}

.about_me
{
    color: white;
    height:fit-content;
}

.about_me .about_left
{
    float: left;
    width: 50%;
    height: fit-content;
}

.about_me .about_right
{
    float: right;
    width: 50%;
    height: fit-content;
    display: flex;
}

#number
{
    font-weight: 700;
    font-size: 100px;
}

#pad
{
    display:table;
    vertical-align: center;
    margin: auto;
    width: 80%;
    text-align: justify;
}

.resume
{
    display: table-row;
    text-align: center;
}

#brdr
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-color: white;
    border-right-style: none;
    border-left-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1.5px;
    transition-duration: 0.25s;
}

#brdr:hover
{
    color: #AD0045;
    border-color: #AD0045;
    cursor: pointer;
}

.projects
{
    padding-top: 50px;
    color: white;
    height:fit-content;
    background-color: #575757;
    display: table;
    width: 100%;
}

.projects_left
{
    float: left;
    width: 50%;
    height: max-content;
    display: table;
}

.projects_left .project_container
{
    width: 80%;
    display: table-cell;
    margin: auto;
    line-height: 0;
    box-shadow: 0px 0px 10px 2px black;
    transition-duration: 0.25ms;
}

.projects_left .project_container:hover
{
    scale: 105%;
}

.project_block
{
    height: 150px;
    background-color: #2B2B2B;
    display: block;
    line-height: normal;
}

#project_text
{
    display:table;
    vertical-align: center;
    margin: auto;
    width: 80%;
    text-align: justify;
}

.projects_right
{
    float: right;
    width: 50%;
    height: max-content;
    display: table;
}

.project_table
{
    display: table;
    width: 75%;
    margin: auto;
    border-spacing: 50px;
}

.project_row
{
    display: table-row;
}

.project_button
{
    display: table-cell;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    background-color: white;
    line-height: 0;
    padding: 40px 0px;
    text-align: center;
    transition-duration: 0.25s; 
}

.project_button:hover
{
    border-color: #AD0045;
    cursor: pointer;
}

.footer
{
    display: flex;
    width: 100%;
    height: 165px;
    background-color: #2B2B2B;
    align-items: flex-end;
}

.inner_footer
{
    width: 100%;
    height: 85%;
    display: block;
}

#footer_left
{
    float: left;
    width: 25%;
    display: block;
    color: white;
    font-weight: 600;
    height: 100%;
    text-align: center;
    font-size: 32px;
}

#footer_left table
{
    padding-top: 3px;
}

#footer_right
{
    float: right;
    width: 25%;
    display: block;
}

.footer_table
{
    display: table;
    width: auto;
    height: fit-content;
    color: white;
}

.footer_table tr
{
    display: table-row;
    vertical-align: top;
}

.footer_table tr td
{
    display: table-cell;
    width: 50%;
    height: 100%;
    padding: 0 15px;
}

h2
{
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
    padding-bottom: 3px;
}

#link
{
    color: white;
}

#link:visited
{
    color: white;
}

#link:hover
{
    text-decoration: underline;
}

