body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #575757;
}

*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header
{
    width: 100%;
    height: 120px;
    display: block;
    background-color: #2B2B2B;
}

.inner_header
{
    width: 100%;
    height: 100%;
    display: block;
}

.logo_box
{
    height: 100%;
    width: 30%;
    display: table;
    float: left;
    background-color: #575757;
}

.logo_box h1
{
    color: white;
    font-weight: 600;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 75px;
    font-size: 32px;
}

.navigation
{
    float: right;
    height: 100%;
}

.navigation a
{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 10px;   
    color: white;  
    transition-duration: 0.25s; 
}

.navigation a:first-child:hover
{
    color: #AD0045;
}

.navigation a:last-child
{
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation a li #contact_button
{
    background-color: #AD0045;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.navigation a li
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}








.footer
{
    display: flex;
    width: 100%;
    height: 165px;
    background-color: #2B2B2B;
    align-items: flex-end;
}

.inner_footer
{
    width: 100%;
    height: 85%;
    display: block;
}

#footer_left
{
    float: left;
    width: 25%;
    display: block;
    color: white;
    font-weight: 600;
    height: 100%;
    text-align: center;
    font-size: 32px;
}

#footer_left table
{
    padding-top: 3px;
}

#footer_right
{
    float: right;
    width: 25%;
    display: block;
}

.footer_table
{
    display: table;
    width: auto;
    height: fit-content;
    color: white;
}

.footer_table tr
{
    display: table-row;
    vertical-align: top;
}

.footer_table tr td
{
    display: table-cell;
    width: 50%;
    height: 100%;
    padding: 0 15px;
}

h2
{
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
    padding-bottom: 3px;
}

#link
{
    color: white;
}

#link:visited
{
    color: white;
}

#link:hover
{
    text-decoration: underline;
}

.hero
{
    display: block;
    width: 100%;
    color: white;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.hero hr
{
    width: 170px;
    margin: auto;
    border: none;
    background-color: white;
    height: 3px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #AD0045;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .contact_table
  {
    display: table;
    border-spacing: 50px;
    margin: auto;
    width: 100%;
  }

.row
{
    display: flex;
}

.cell
{
    flex: 1;
    padding: 5px;
}

  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 35%;
    margin: 50px;
  }